<% if @current_user %>
  <h2 class="mb-3">
  Places
  </h2>

  <p>
    <button class="btn btn-primary" onclick="location.href='/places/new'">New Place</button>
  </p>

  <% for place in @places %>
      <h4><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></h4>
    <% end %>
  
<% else %>
  <p>
    You must be logged in.
  </p>
<% end %>