<h2>New Place</h2>

<%= form_with :model => @place do |form| %>
  <p>
    <%= form.label "name", :class => "form-label" %>
    <%= form.text_field "name", :class => "form-control" %>
  </p>
  <div>
    <%= form.submit "Create Place", :class => "btn btn-primary" %>
  </div>
<% end %>